<nav class="w-screen bg-slate-200 flex justify-start items-center p-7">
  <h1>
    <a href="/" class="font-custom font-bold text-2xl p-5 mx-5"
      >origami zaiko</a
    >
  </h1>
  <h2>
    <a href="/categories" class="font-custom text-lg p-5 mx-5">categories</a>
  </h2>
  <!-- <h2><a href="/items" class="font-custom text-lg p-5 mx-5">items</a></h2> -->
</nav>
